<div class="container">
   <div class="filter center gap-2 mt-4">
      <form action="/admin/manageOrder" method="get">
         <button class="btn btn-success">All</button>
      </form>
      <form action="/admin/getPendingOrder" method="post">
         <input type="hidden" name="filter" value="pending">
         <button class="btn btn-primary">Pending</button>
      </form>
      <form action="/admin/getSentOrder" method="post">
         <input type="hidden" name="filter" value="sent">
         <button class="btn btn-secondary">sent</button>
      </form>
      <form action="/admin/getCompletedOrder" method="post">
         <input type="hidden" name="filter" value="completed">
         <button class="btn btn-dark">Completed</button>
      </form>
   </div>
   
   
   <div class="search">
      <form class="d-flex flex-column gap-2 mt-2 align-items-center" >
         <input class="form-control w-75 text-center" type="search" name="search" placeholder="Enter name or email for user" id="">
         <div class="center controls gap-2">
            <button formaction="/admin/searchName" formmethod="post" class="btn btn-primary">Search by name</button>
            <button formaction="/admin/searchEmail" formmethod="post" class="btn btn-primary">Search by email</button>   
         </div>
      </form>
   </div>
</div>