<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand fs-3" href="#">Brand</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex gap-1">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        
        <% if(isUser){ %>
          <li class="nav-item">
            <a class="nav-link" href="/cart">Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/order">Order</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/address">Address</a>
          </li>
        <% }else{ %>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup">Signup</a>
          </li>
        <% } %>
        <% if(isAdmin){ %>
          <li class="nav-item">
            <a class="nav-link" href="/admin/addProduct">Add product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/manageOrder">Manage orders</a>
          </li>
          <% } %>
        
        <% if(isUser){ %>
          <li class="nav-item">
            <form action="/logout" method="POST">
              <button class="btn btn-danger logout">Logout</button>
            </form>
          </li>
        <% } %>
        
      </ul>
    </div>
  </div>
</nav>
